*{
    font-family: arial
}

/*index.html*/
.inputs, .submit{
    height: 40; width: 200;
    font-size: inherit;
}

.submit{
    height: 60;
    background-color: darkviolet; color: white;
    cursor: pointer;
    font-size: 11.5;
}

div{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}