*{
    font-family: arial;
}

/*main page*/
.main_body{
    width: auto; height: auto; margin: auto;
    background-color: lightgrey;
}

.header{
    background-color: blueviolet;
    height: 70;
}

.body{
    background-color: #FCFCFC;
    margin: 2 0 2 0;
    height:  550;
}

.footer{
    background-color: blueviolet;
    height: 130;
}

.btnMenu{
    width: 200; height: 80;
    border-style: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.sidebar{
    margin: 50% 0 0;
}

/*header UI*/
.header_UI{
    display: block; float: right;
    margin: 0;
}

.banner_UI{
    display: block;
    float: left;
    margin-top: 5.5;
    margin-left: 4
}

.btn_logout{
    height: 65; width: 110;
    border-radius: 8px;
    font-size: 12; color: white;
    background-color: inherit;
    cursor: pointer;
}

.user_info{
    color: white; text-align: right;
    font-size: 13;
    padding: 0 0 15; margin: 0;
    display: block;
}